/* caracteristicas globales */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
* dl, * ol, * ul {
  margin-bottom: 0;
  padding-left: 0%;
}
* a {
  text-decoration: none;
}
* h1, * h2, * h3, * h4, * h5, * h6, * p {
  margin-bottom: 0%;
}
* a:hover {
  color: white;
}
* .container-fluid {
  margin: 0%;
  padding: 0%;
}
* .nav-link, * .navbar-brand {
  padding: 0%;
}
* .card {
  border: none;
}

/* Fonts importadas de google */
/* header */
/* listas - variables */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: auto;
  z-index: 2000;
}
header .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .item {
  color: #e2e2e2;
  transition: 0.5s all;
  font-family: "Cinzel Decorative", cursive;
}
header h1 {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
}
header .item:hover {
  color: #dddddd;
  transform: scale(1.2);
}
header .container-fluid {
  display: flex;
  align-items: center;
  width: 100%;
}
header .nav-item {
  margin-bottom: 5px;
  height: 20px;
  padding: 0% 30px;
}
header .contenedor-sepadador-items {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
header .contenedor-sepadador-items .contenedor-items {
  display: flex;
  align-items: center;
}
header .contenedor-sepadador-items .contenedor-items-1 {
  justify-content: start;
}
header .contenedor-sepadador-items .contenedor-items-2 {
  justify-content: center;
}
header .contenedor-sepadador-items .contenedor-items-3 {
  justify-content: end;
}
header .como-reservar-prenda {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #353535;
}
header .como-reservar-prenda .desplegar-info-reserva {
  text-align: center;
}
header .como-reservar-prenda .desplegar-info-reserva .info-como-reservar {
  display: none;
}
header .como-reservar-prenda .desplegar-info-reserva:hover .subrayado {
  text-decoration: underline;
}
header .como-reservar-prenda .desplegar-info-reserva:hover .info-como-reservar {
  text-align: center;
  display: block;
}

/* Mediaqerys */
/*  */
/* + de 751px */
@media only screen and (min-width: 751px) {
  header {
    position: sticky;
    top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  header .contenedor-sepadador-items {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  header .contenedor-sepadador-items .contenedor-items-1 .item-contacto {
    padding: 0%;
  }
  header .contenedor-sepadador-items .contenedor-items-1 .item-productos {
    display: none;
  }
  header .contenedor-sepadador-items .contenedor-items-2 {
    justify-content: center;
  }
  header .contenedor-sepadador-items .contenedor-items-3 {
    display: none;
  }
}
/* Fin header */
/*  */
/* Contenido de pagina */
/* listas - variables */
.nombre-seccion {
  padding-top: 40px;
  font-family: "Cinzel Decorative", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nombre-seccion h2 {
  font-weight: bold;
}

.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container-productos .contenedor-categoria {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 300px;
  height: 500px;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria {
  display: grid;
  grid-template-rows: 100px 400px;
  transition: all 0.7s;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .nombre-categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 32px;
  color: dimgray;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .container-imagen {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  z-index: 1000;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .container-imagen .imagen {
  width: 300px;
  height: 400px;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria:hover {
  transform: scale(1.07);
}

.conocenos {
  height: 600px;
  background-color: #ecca80;
}
.conocenos .contenido-conocenos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 500px;
}
.conocenos .contenido-conocenos .descripcion-empresa {
  display: flex;
  align-items: center;
}
.conocenos .contenido-conocenos .descripcion-empresa .padding-descripcion-conocenos {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 150px;
  background-color: #dddddd;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.conocenos .contenido-conocenos .contenedor-imagen-conocenos {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}
.conocenos .contenido-conocenos .contenedor-imagen-conocenos img {
  display: block;
  width: 300px;
  height: 400px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .container-productos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .conocenos {
    height: 680px;
  }
  .conocenos .padding-bottom-seccion {
    padding-bottom: 20px;
  }
  .conocenos .contenido-conocenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .conocenos .contenido-conocenos .descripcion-empresa .padding-descripcion-conocenos {
    padding-right: 40px;
    text-align: center;
  }
  .conocenos .contenido-conocenos .contenedor-imagen-conocenos {
    justify-content: center;
  }
}
/* Contenido de pagina */
/* listas - variables */
.nombre-seccion {
  padding-top: 40px;
  font-family: "Cinzel Decorative", cursive;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nombre-seccion h2 {
  font-weight: bold;
}

.container-productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container-productos .contenedor-categoria {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 300px;
  height: 500px;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria {
  display: grid;
  grid-template-rows: 100px 400px;
  transition: all 0.7s;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .nombre-categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel Decorative", cursive;
  font-size: 32px;
  color: dimgray;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .container-imagen {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  z-index: 1000;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria .container-imagen .imagen {
  width: 300px;
  height: 400px;
}
.container-productos .contenedor-categoria .contenedor-grid-categoria:hover {
  transform: scale(1.07);
}

.conocenos {
  height: 600px;
  background-color: #ecca80;
}
.conocenos .contenido-conocenos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 500px;
}
.conocenos .contenido-conocenos .descripcion-empresa {
  display: flex;
  align-items: center;
}
.conocenos .contenido-conocenos .descripcion-empresa .padding-descripcion-conocenos {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 150px;
  background-color: #dddddd;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.conocenos .contenido-conocenos .contenedor-imagen-conocenos {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
}
.conocenos .contenido-conocenos .contenedor-imagen-conocenos img {
  display: block;
  width: 300px;
  height: 400px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .container-productos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .conocenos {
    height: 680px;
  }
  .conocenos .padding-bottom-seccion {
    padding-bottom: 20px;
  }
  .conocenos .contenido-conocenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
  }
  .conocenos .contenido-conocenos .descripcion-empresa .padding-descripcion-conocenos {
    padding-right: 40px;
    text-align: center;
  }
  .conocenos .contenido-conocenos .contenedor-imagen-conocenos {
    justify-content: center;
  }
}
/* Pagina de soporte */
/* listas - variables */
.body-soporte {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 30px 10%;
  text-align: center;
}
.body-soporte strong {
  font-size: 18px;
}
.body-soporte .mapa {
  margin-top: 30px;
  width: 100%;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.15), -10px 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Fin pagina soporte */
/*  */
/* Modelo de recuadro */
/* listas - variables */
.container-cards {
  width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px 400px;
}
.container-cards .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card .recuadro-cards {
  width: 224px;
  height: 350px;
  border-radius: 2%;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.1), -7px 7px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.7s;
  /* Esto es para las imagenes con descripciones */
}
.container-cards .card .recuadro-cards .container-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  border-bottom: 1px solid #c4c4c4;
}
.container-cards .card .recuadro-cards .container-imagen .imagen {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  width: 224px;
  height: 300px;
}
.container-cards .card .recuadro-cards .container-precio {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
}
.container-cards .card .recuadro-cards .precio {
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
}
.container-cards .card .recuadro-cards .ver-mas {
  font-family: "Montserrat", sans-serif;
  background-color: #d4ab51;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.container-cards .card .card-1 {
  background-color: #f3f3f3;
  z-index: 300;
  position: absolute;
  transition: all 0.7s;
}
.container-cards .card .card-2 {
  z-index: 200;
  position: absolute;
  transition: all 0.7s;
  background-color: #e4e4e4;
}
.container-cards .card .card-2 .descripcion {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr;
  padding: 0px 5px 5px 5px;
}
.container-cards .card .card-2 .descripcion form {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 60%;
}
.container-cards .card .card-2 .descripcion form .talle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card .card-2 .descripcion form .opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container-cards .card .card-2 .descripcion form .datos-de-cliente {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 5%;
}
.container-cards .card .card-2 .descripcion form .datos-de-cliente .ajuste-formulario-android {
  display: flex;
  align-items: center;
  width: 95%;
}
.container-cards .card .card-2 .reserva {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card .card-2 .reserva .boton-reserva {
  padding: 1px 5px;
  border: 1px solid #c7c7c7;
  background-color: #f8f8f8;
  border-radius: 4px;
  color: #666666;
  text-align: center;
}
.container-cards .card:hover .card-1 {
  z-index: 500;
  animation: fix-z-index-card-1 0.7s;
  transform: translateX(-112px);
}
@keyframes fix-z-index-card-1 {
  0% {
    z-index: 400;
  }
  100% {
    z-index: 500;
  }
}
.container-cards .card:hover .card-2 {
  display: block;
  z-index: 400;
  animation: fix-z-index-card-2 0.7s;
  transform: translateX(112px);
}
@keyframes fix-z-index-card-2 {
  0% {
    z-index: 350;
  }
  19% {
    z-index: 350;
  }
  20% {
    z-index: 400;
  }
  100% {
    z-index: 400;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1540px) {
  .container-cards {
    width: 720px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px;
  }
}
@media only screen and (min-width: 651px) and (max-width: 990px) {
  .container-cards {
    width: 480px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
  }
}
@media only screen and (max-width: 650px) {
  .container-cards {
    width: 240px;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  }
  .container-cards .card {
    transform: scale(0.8);
  }
}
/* listas - variables */

/*# sourceMappingURL=style.css.map */
