/* caracteristicas globales */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: content-box;
}
* dl, * ol, * ul {
  margin-bottom: 0;
  padding-left: 0%;
}
* a {
  text-decoration: none;
}
* h1, * h2, * h3, * h4, * h5, * h6, * p {
  margin-bottom: 0%;
}
* a:hover {
  color: white;
}
* .btn-outline-success {
  color: white;
  border-color: white;
}
* .bg-dark {
  background-color: transparent;
}
* .card {
  border: none;
}

/* Fonts importadas de google */
/* header */
/* listas - variables */
/* caracteristicas de seccion*/
/* centrado de contenido */
footer .contenido-seccion-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1000;
  background-color: black;
}
header .navbar {
  width: 1200px;
  display: flex;
  justify-content: center;
}
header .item {
  transition: 0.5s all;
}
header .item:hover {
  transform: scale(1.2);
}

/* Mediaqerys */
/*  */
/* + de 751px */
@media only screen and (min-width: 751px) {
  /* Logo y menu */
  header {
    position: sticky;
    top: 0px;
  }
}
@media only screen and (max-width: 991px) {
  /* Logo y menu */
  .lista-items {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
/* Fin header */
/*  */
/* Contenido de pagina */
/* listas - variables */
/* caracteristicas de seccion*/
.indumentaria {
  font-size: 25px;
  background-color: #3667db;
  font-family: "Spartan", sans-serif;
  color: white;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #c4c4c4;
}

/*  */
/* Contenido de pagina */
/* listas - variables */
/* caracteristicas de seccion*/
.indumentaria {
  font-size: 25px;
  background-color: #3667db;
  font-family: "Spartan", sans-serif;
  color: white;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #c4c4c4;
}

/*  */
/* Pagina de soporte */
/* listas - variables */
/* caracteristicas de seccion*/
.body-soporte {
  font-size: 20px;
  background-color: #dfe7fa;
  font-family: "Spartan", sans-serif;
  color: black;
  padding: 30px 10%;
  text-align: center;
}
.body-soporte .mapa {
  width: 60%;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.15), -10px 10px 30px 0 rgba(0, 0, 0, 0.15);
}

/* Fin pagina soporte */
/*  */
/* Footer soporte */
/* listas - variables */
/* caracteristicas de seccion*/
footer .soporte-ayuda {
  font-size: 20px;
  background-color: black;
  font-family: "Spartan", sans-serif;
  color: white;
  text-align: center;
  padding: 3px;
}
footer .contenido-soporte-ayuda {
  font-size: 15px;
  background-color: #a0b7f1;
  font-family: "Spartan", sans-serif;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
footer .contactanos-aqui-texto {
  text-decoration: underline;
  color: black;
}
footer .contactanos-aqui-texto:hover {
  color: white;
}
footer .seccion-redes {
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .redes {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 5px;
  transition: all 2s;
}
footer .redes:hover {
  transform: rotate(360deg);
}

/* Modelo de recuadro */
/* listas - variables */
/* caracteristicas de seccion*/
.container-cards {
  width: 1200px;
  margin: 0px auto;
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 400px 400px;
}
.container-cards .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card .recuadro-cards {
  width: 224px;
  height: 350px;
  border-radius: 2%;
  border: 1px solid #c4c4c4;
  box-shadow: 7px 7px 20px 0 rgba(0, 0, 0, 0.15), -7px 7px 20px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.7s;
  /* Esto es para las imagenes con descripciones */
}
.container-cards .card .recuadro-cards .container-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  border-bottom: 1px solid #c4c4c4;
}
.container-cards .card .recuadro-cards .container-imagen .imagen {
  width: 224px;
  height: 100%;
}
.container-cards .card .recuadro-cards .container-precio {
  display: grid;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
}
.container-cards .card .recuadro-cards .precio {
  text-align: center;
}
.container-cards .card .recuadro-cards .ver-mas {
  background-color: #cccccc;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.container-cards .card .card-1 {
  background-color: #f3f3f3;
  z-index: 300;
  position: absolute;
  transition: all 0.7s;
}
.container-cards .card .card-2 {
  z-index: 200;
  position: absolute;
  transition: all 0.7s;
  background-color: #e4e4e4;
}
.container-cards .card .card-2 .descripcion {
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 8fr;
  grid-template-columns: 1fr;
  padding: 0px 5px 5px 5px;
}
.container-cards .card .card-2 .descripcion form {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 30% 60%;
}
.container-cards .card .card-2 .descripcion form .talle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card .card-2 .descripcion form .opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.container-cards .card .card-2 .descripcion form .datos-de-cliente {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.container-cards .card .card-2 .descripcion form .datos-de-cliente label {
  display: flex;
  align-items: center;
}
.container-cards .card .card-2 .reserva {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cards .card:hover .card-1 {
  z-index: 500;
  animation: fix-z-index-card-1 0.7s;
  transform: translateX(-112px);
}
@keyframes fix-z-index-card-1 {
  0% {
    z-index: 400;
  }
  100% {
    z-index: 500;
  }
}
.container-cards .card:hover .card-2 {
  display: block;
  z-index: 400;
  animation: fix-z-index-card-2 0.7s;
  transform: translateX(112px);
}
@keyframes fix-z-index-card-2 {
  0% {
    z-index: 350;
  }
  19% {
    z-index: 350;
  }
  20% {
    z-index: 400;
  }
  100% {
    z-index: 400;
  }
}

/* listas - variables */
/* centrado de contenido */
footer .contenido-seccion-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* caracteristicas de seccion*/

/*# sourceMappingURL=style.css.map */
