/* Modelo de recuadro */

@import '../base/listas-variables';
@import '../base/mixins';

.container-cards{
    width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px ;

    
    .card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .recuadro-cards {
            
            width: 224px;
            height: 350px;
            
            border-radius: 2%;
            border: 1px solid rgb(196, 196, 196);
            box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 15%),  
            -7px 7px 20px 0 rgb(0 0 0 / 15%);
            transition: all 0.7s;
            .container-imagen{
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 300px;
                border-bottom: 1px solid rgb(196, 196, 196);
                .imagen {
                    width: 224px;
                    height: 100%;
                }
            }

            /* Esto es para las imagenes con descripciones */
            .container-precio{
                display: grid;
                padding: 15px;
                grid-template-columns: 1fr 1fr;
                
                
            }
            .precio{
                
                text-align: center;
            }
            .ver-mas{
                background-color: rgb(204, 204, 204);
                border-radius: 4px;
                color: white;
                text-align: center;
            }

        }

        .card-1{
            background-color: rgb(243, 243, 243);
            z-index: 300;
            position:absolute;
            transition: all 0.7s;
        }

        .card-2{
            z-index: 200;
            position: absolute;
            transition: all 0.7s;
            background-color: rgb(228, 228, 228);
            .descripcion{

                text-align: center;
                display: grid;
                grid-template-rows: 2fr 8fr;
                grid-template-columns: 1fr;
                padding: 0px 5px 5px 5px;
                form{
                    height: 100%;
                    display: grid;
                    grid-template-rows: 10% 30% 60%;
                    .talle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .opciones{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr ;
                    }
                    .datos-de-cliente{
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                        label{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            
            .reserva{
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &:hover{
            .card-1{
                z-index: 500;
                animation: fix-z-index-card-1 0.7s;
                transform: translateX(-112px);
            }

            @keyframes fix-z-index-card-1 {
                0%{
                    z-index: 400;
                }
                100%{
                    z-index: 500;
                }
            }

            .card-2{
                display: block;
                z-index: 400;
                animation: fix-z-index-card-2 0.7s;
                transform: translateX(112px);
                
            }

            @keyframes fix-z-index-card-2 {
                0%{
                    z-index: 350;
                }
                19%{
                    z-index: 350;
                }
                20%{
                    z-index: 400;
                }
                100%{
                    z-index: 400;
                }
            }
            
        }
        
    }


}


