/* Modelo de recuadro */

@import '../base/listas-variables';


.container-cards{
    width: 1200px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;

    .card{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .recuadro-cards {
            
            width: 224px;
            height: 350px;
            border-radius: 2%;
            box-shadow: 7px 7px 20px 0 rgb(0 0 0 / 10%),  
            -7px 7px 20px 0 rgb(0 0 0 / 10%);
            transition: all 0.7s;
            .container-imagen{

                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 300px;
                border-bottom: 1px solid rgb(196, 196, 196);
                .imagen {

                    border-top-left-radius: 2%;
                    border-top-right-radius: 2%;
                    width: 224px;
                    height: 300px;
                }
            }

            /* Esto es para las imagenes con descripciones */
            .container-precio{
                display: grid;
                padding: 15px;
                grid-template-columns: 1fr 1fr;
                
                
            }
            .precio{
                font-family: $titulo-secundario;
                text-align: center;
            }
            .ver-mas{
                font-family: $texto;
                background-color: #d4ab51;
                border-radius: 4px;
                color: white;
                text-align: center;
            }

        }

        .card-1{
            background-color: rgb(243, 243, 243);
            z-index: 300;
            position:absolute;
            transition: all 0.7s;
        }

        .card-2{
            z-index: 200;
            position: absolute;
            transition: all 0.7s;
            background-color: rgb(228, 228, 228);
            .descripcion{

                font-family: $texto;
                font-weight: bold;
                text-align: center;
                display: grid;
                grid-template-rows: 2fr 8fr;
                grid-template-columns: 1fr;
                padding: 0px 5px 5px 5px;
                form{
                    height: 100%;
                    display: grid;
                    grid-template-rows: 10% 30% 60%;
                    .talle{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .opciones{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr ;
                    }
                    .datos-de-cliente{
                        display: grid;
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                        padding-left: 5%;
                        width: 80%;
                        label{
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
            
            .reserva{
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                .boton-reserva{
                    padding: 1px 5px;
                    border: 1px solid rgb(199, 199, 199);
                    background-color: rgb(248, 248, 248);
                    border-radius: 4px;
                    color: rgb(102, 102, 102);
                    text-align: center;
                }
                    
            }
        }

        &:hover{
            .card-1{
                z-index: 500;
                animation: fix-z-index-card-1 0.7s;
                transform: translateX(-112px);
            }

            @keyframes fix-z-index-card-1 {
                0%{
                    z-index: 400;
                }
                100%{
                    z-index: 500;
                }
            }

            .card-2{
                display: block;
                z-index: 400;
                animation: fix-z-index-card-2 0.7s;
                transform: translateX(112px);
                
            }

            @keyframes fix-z-index-card-2 {
                0%{
                    z-index: 350;
                }
                19%{
                    z-index: 350;
                }
                20%{
                    z-index: 400;
                }
                100%{
                    z-index: 400;
                }
            }
            
        }
        
    }


}


@media only screen and  (min-width:991px) and (max-width:1540px){
    .container-cards {
        width: 720px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px;
    }
}

@media only screen and  (min-width:651px) and (max-width:990px){
    .container-cards {
        width: 480px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
        
    }
}

@media only screen and (max-width:650px){
    .container-cards {
        width: 240px;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px;
        .card{
            transform: scale(0.8);
        }
    }
}