/* header */

@import '../base/listas-variables';


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 2000;
    
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item{
        color: rgb(226, 226, 226);
        transition: 0.5s all;
        font-family: $titulo;
        
    }
    h1{
        font-family: $titulo;
       font-weight: 700;
    }
    .item:hover{
        color: rgb(221, 221, 221);
        transform: scale(1.2);
    }
    .container-fluid{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .nav-item{
        margin-bottom: 5px;
        height: 20px;
        padding: 0% 30px;
    }
    
    .contenedor-sepadador-items{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        .contenedor-items{
            display: flex;
            align-items: center;   
        }   
        .contenedor-items-1{
            justify-content: start;
        }
        .contenedor-items-2{
            justify-content: center;
        }
        .contenedor-items-3{
            justify-content: end;
        }
    }
   .como-reservar-prenda{
       display: flex;
       justify-content: center;
       color: white;
       background-color: #353535;
        .desplegar-info-reserva {
            text-align: center;
                
            .info-como-reservar{
                display: none;
            }
        }
        .desplegar-info-reserva:hover {
            .subrayado{
                text-decoration: underline;
            }
            
            .info-como-reservar{
                text-align: center;
                display: block;
                
            }
        }
   }
}

/* Mediaqerys */
/*  */
/* + de 751px */
@media only screen and (min-width:751px) {
 
    header{
        position: sticky;
        top: 0px;
    }


}


@media only screen and (max-width:767px){

    header .contenedor-sepadador-items {

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        .contenedor-items-1 {
            .item-contacto{
                padding: 0%;
            }
            
            .item-productos{
                display: none;
            }
        }
        .contenedor-items-2{
            justify-content: center;
            
        }
        .contenedor-items-3 {
            display: none;
        }


    }
    
    
    

    
    
    

}
/* Fin header */
/*  */