/* header */

@import '../base/listas-variables';
@import '../base/mixins';
@import '../base/extends';

header{
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
    z-index: 2000;
    
    .logo{
        font-family: $titulo;
    }
    .navbar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .item{
        color: rgb(226, 226, 226);
        transition: 0.5s all;
        
    }
    .item:hover{
        color: rgb(221, 221, 221);
        transform: scale(1.2);
    }
    .container-fluid{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .nav-item{
        margin-bottom: 5px;
        height: 20px;
        padding: 0% 30px;
    }
    
    .contenedor-sepadador-items{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        .contenedor-items{
            display: flex;
            align-items: center;
        }
        .contenedor-items-1{
            justify-content: start;
        }
        .contenedor-items-2{
            justify-content: center;
        }
        .contenedor-items-3{
            justify-content: end;
        }

    }
   
}

/* Mediaqerys */
/*  */
/* + de 751px */
@media only screen and (min-width:751px) {
    /* Logo y menu */
    header{
        position: sticky;
        top: 0px;
    }


}
@media only screen and (max-width:991px) {
    /* Logo y menu */
    
    .lista-items{
        display: flex;
        justify-content: start;
        align-items: center;
    }

}
/* Fin header */
/*  */