/* Contenido de pagina */

@import '../base/listas-variables';
@import '../base/mixins';


.indumentaria {
    @include estilo-font-colores(25px,$texto,nth($color-bg, 3), nth($color-bg, 1));
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid nth($color-bg, 6);
}




/*  */
