/* Pagina de soporte */

@import '../base/listas-variables';
@import '../base/mixins';

.body-soporte {
    @include estilo-font-colores(20px,$texto, nth($color-bg,4),black);
    padding: 30px 10%;
    text-align: center;
    
    .mapa {
        width:60%;
        box-shadow: 10px 10px 20px 0 rgb(0 0 0 / 15%), -10px 10px 30px 0 rgb(0 0 0 / 15%);
    }
}
/* Fin pagina soporte */
/*  */